.replyBox {
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    background-color: rgba(0, 128, 0, 0.1);
}

.comment {
    position: relative;
    margin: 0px;
    background-color: snow;
}

.editedText {
    margin-top: 8px;
}